{% extends 'base.html' %}
{% block content %}

<h1 class="title">
  {{ object.name }}
</h1>

<h2 class="subtitle">
  Horizon: {{ object.horizon_name }}
</h2>

<div class="box">
  <div class="block">
    <strong>Description:</strong>
    {{ object.description }}
  </div>

  <div class="block">
    <strong>Completed:</strong>
    {{ object.completed }}
  </div>

  <div class="block">
    <strong>Due Date:</strong>
    {{ object.due_date }}
  </div>

  <div class="block">
    <strong>Created At:</strong>
    {{ object.created_at }}
  </div>

  <div class="block">
    <strong>Updated At:</strong>
    {{ object.updated_at }}
  </div>

  {% if not object.horizon == 'AC' %}
  <div class="block">
    <strong>Children:</strong>
    <ul>
      {% for child in object.children.all %}
        <li>
          <a href="{% url 'todos:todo-view' child.pk %}" class="">
            {{ child.name }}
          </a>
        </li>
        {% empty %}
        None
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if not object.horizon == 'PU' %}
  <div class="block">
    <strong>Parents:</strong>
    <ul>
      {% for parent in object.is_contained_by %}
        <li>
          <a href="{% url 'todos:todo-view' parent.pk %}" class="">
            {{ parent.name }}
          </a>
        </li>
        {% empty %}
        None
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>

<br />

<div class="field is-grouped">
  <p class="control">
    <a href="{% url 'todos:todo-update' object.id %}" class="button is-text">
      Update
    </a>
  </p>

  {% if not object.horizon == 'AC' %}
  <p class="control">
    <a href="{% url 'todos:todo-children' object.id %}" class="button is-text">
      Children
    </a>
  </p>
  {% endif %}

  {% if not object.horizon == 'PU' %}
  <p class="control">
    <a href="{% url 'todos:todo-parents' object.id %}" class="button is-text">
      Parents
    </a>
  </p>
  {% endif %}

  <p class="control">
    <a href="{% url 'todos:todo-comments' todo.id %}" class="button is-text">
     Comments
    </a>
  </p>

  <p class="control">
    <a href="{% url 'todos:horizon-detail-list' object.horizon %}" class="button is-text">
      View All {{ object.horizon_name }}
    </a>
  </p>
</div>

{% endblock %}
