{% extends 'base.html' %}
{% block content %}

<h1 class="title">
  {{ horizon_name }}
</h1>

<div x-data="{ showhidden: false }">
<a class="button is-link mb-5" href="{% url 'todos:todo-add' %}?horizon={{ horizon }}">
  Create
</a>

<a
    class="button is-text mb-5"
    href="#"
    x-show="! showhidden"
    x-on:click="showhidden = ! showhidden"
    hx-get="{% url 'todos:horizon-detail-list-partial' horizon %}?hidden=true"
    hx-trigger="click"
    hx-target="#todos"
    hx-swap="innerHTML">
  Show Hidden
</a>

<a
    class="button is-text mb-5"
    href="#"
    x-show="showhidden"
    x-on:click="showhidden = ! showhidden"
    hx-get="{% url 'todos:horizon-detail-list-partial' horizon %}?hidden=false"
    hx-trigger="click"
    hx-target="#todos"
    hx-swap="innerHTML">
  Hide Hidden
</a>

<div id="todos">
  {% include "todos/todo_horizon_detail_partial.html" with page_obj=page_obj hidden=False %}
</div>

{% endblock %}
