{% extends 'base.html' %}
{% block content %}

<h1 class="title">
  {{ object.name }}
</h1>
<h2 class="subtitle">
  Horizon: {{ object.horizon_name }}
</h2>

<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="field">
      <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
      <div class="control">
        {% if field.name == 'children' or field.name == 'parents' %}
          {% if field|length == 0 %}
            None
          {% else %}
            <div class="box">
              {{ field }}
            </div>
          {% endif %}
        {% else %}
          {{ field }}
        {% endif %}
      </div>
      {% if field.errors %}
        <small class="error has-text-danger">{{ field.errors|striptags }}</small>
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit" class="button is-primary">Save</button>
</form>

{% include 'messages.html' with messages=messages %}

<br />

<div class="field is-grouped">
  {% if object.pk %}
  <p class="control">
    <a href="{% url 'todos:todo-view' object.id %}" class="button is-text">
      View
    </a>
  </p>

  <p class="control">
    <a href="{% url 'todos:todo-update' object.id %}" class="button is-text">
      Update
    </a>
  </p>
  {% endif %}

  <p class="control">
    <a href="{% url 'todos:horizon-detail-list' object.horizon %}" class="button is-text">
      View All {{ object.horizon_name }}
    </a>
  </p>
</div>

{% endblock %}
