{% extends 'base.html' %}
{% block content %}

<h1 class="title">
  {% if form.instance.id %}
  Update &quot;{{ form.instance.name }}&quot;
  {% else %}
  New Entry
  {% endif %}
</h1>

<form method="post">
  {% for field in form %}
    {% csrf_token %}
    <div class="field">
      <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
      <div class="control">
        {% if field.name == 'horizon' %}
          <div class="select">
            {{ field }}
          </div>
        {% elif field.name == 'children' %}
          <div class="box">
            {{ field }}
          </div>
        {% else %}
          {{ field }}
        {% endif %}
      </div>
      {% if field.errors %}
        <small class="error">{{ field.errors|striptags }}</small>
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit" class="button is-primary">Save</button>
</form>

<br />

<div class="field is-grouped">
  <p class="control">
    <a href="{% url 'todos:todo-view' object.id %}" class="button is-text">
      View
    </a>
  </p>

  <p class="control">
    <a href="{% url 'todos:horizon-detail-list' form.instance.horizon %}" class="button is-text">
      View All {{ form.instance.horizon_name }}
    </a>
  </p>
</div>

{% endblock %}
