{% extends 'base.html' %}
{% block content %}

<h1 class="title">
  {{ todo.name }}
</h1>

<h2 class="subtitle">
  Horizon: {{ todo.horizon_name }}
</h2>

<div x-data="{ open: false }">
  <button x-on:click="open = ! open" class="button is-text mb-3">Add Comment</button>

  <div x-show="open">
    <form action="{% url 'todos:todo-comments-add' todo.id %}" method="post" class="mb-5">
      {% csrf_token %}
      <div class="field">
        <label class="label" for="body">Comment</label>
        <div class="control">
          <textarea id="body" name="body" class="textarea" placeholder="Comment"></textarea>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<table class="table is-fullwidth is-hoverable is-striped">
  <thead>
    <tr>
      <th>
          Comment
      </th>
      <th>
          Created At
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for comment in object_list %}
      <tr>
        <td class="">
          {{ comment.body }}
        </td>
        <td class="">
          {{ comment.created_at }}
        </td>
        <td>
          <a href="{% url 'todos:todo-comments-delete' todo.id comment.id %}" class="button is-text">
            Delete
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="field is-grouped">
  <p class="control">
    <a href="{% url 'todos:todo-view' todo.id %}" class="button is-text">
      View
    </a>
  </p>

  <p class="control">
    <a href="{% url 'todos:todo-update' todo.id %}" class="button is-text">
      Update
    </a>
  </p>

  <p class="control">
    <a href="{% url 'todos:horizon-detail-list' todo.horizon %}" class="button is-text">
      View All {{ todo.horizon_name }}
    </a>
  </p>
</div>

{% endblock %}
