<div
    data-column="{{ column_code }}"
    class="column"
    x-data="{adding: false}"
    :class="{ 'kanban-adding': adding }"
    x-on:drop="adding=false"
    x-on:drop.prevent="
        destination = event.target.getAttribute('data-column');
        const id = event.dataTransfer.getData('text/plain');
        url = '/todos/' + id + '/' + destination + '/progress-partial/';
        fetch(url, {method: 'POST'}).then(function() {
            location.reload();
        });
    "
    x-on:dragover.prevent="adding = true"
    x-on:dragleave.prevent="adding = false">
    <article class="panel is-link" data-column="{{ column_code }}">
        <p class="panel-heading" data-column="{{ column_code }}">{{ title }}</p>
        {% for todo in todos %}
        <a
            class="panel-block p-3"
            href="#"
            data-id="{{ todo.name }}"
            data-name="{{ todo.name }}"
            data-column="{{ column_code }}"
            id="todo-{{ todo.id }}"
            x-on:dragstart="
                source = event.target.id.replace('todo-', '');
                event.dataTransfer.setData('text/plain', source);
            "
        >
            <div class="content" data-column="{{ column_code }}">
                <div class="is-size-4" data-column="{{ column_code }}">
                    {{ todo.name }}
                </div>
                <div class="is-size-6" data-column="{{ column_code }}">
                    {{ todo.due_date }}
                </div>
                <p class="" data-column="{{ column_code }}">
                    {{ todo.description|truncatechars:32 }}
                </p>
            </div>
        </a>
        {% endfor %}
    </article>
</div>
