{% extends 'base.html' %}
{% block content %}

<h1 class="title">
  {{ horizon_name }}
</h1>

<div x-data="{ showhidden: false }">
<a class="button is-link mb-5" href="{% url 'todos:todo-add' %}?horizon={{ horizon }}">
  Create
</a>

{% if view == 'kanban' %}
<a class="button is-text mb-5" href="?order_by={{order_by}}&hidden=true&sort={{sort}}">
  List View
</a>
{% else %}
  {% if hidden == 'true' %}
  <a class="button is-text mb-5" href="?order_by={{order_by}}&hidden=false&sort={{sort}}">
    Hide Done
  </a>
  {% else %}
  <a class="button is-text mb-5" href="?order_by={{order_by}}&hidden=true&sort={{sort}}">
    Show Done
  </a>
  {% endif %}
  <a class="button is-text mb-5" href="?order_by={{order_by}}&hidden=true&sort={{sort}}&view=kanban">
    Kanban View
  </a>
{% endif %}

<div id="todos">
  {% if view == 'kanban' %}
    {% include "todos/todo_horizon_detail_kanban_partial.html" with page_obj=page_obj todos_in_progress=todos_in_progress todos_planned=todos_planned todos_backlog=todos_backlog todos_done=todos_done %}
  {% else %}
    {% include "todos/todo_horizon_detail_partial.html" with page_obj=page_obj hidden=hidden order_by=order_by sort=sort %}
  {% endif %}
</div>

{% endblock %}
