{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-size-4" href="/">
      <image src="{% static 'images/task100.png' %}"/>
      Reflect
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainnav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mainnav" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="{% url 'todos:horizon-view-list' %}">
          Horizons
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'todos:horizon-detail-list' 'AC' %}">
            Actions
          </a>
          <a class="navbar-item" href="{% url 'todos:horizon-detail-list' 'PR' %}">
            Projects
          </a>
          <a class="navbar-item" href="{% url 'todos:horizon-detail-list' 'FO' %}">
            Focus
          </a>
          <a class="navbar-item" href="{% url 'todos:horizon-detail-list' 'GO' %}">
            Goals
          </a>
          <a class="navbar-item" href="{% url 'todos:horizon-detail-list' 'VI' %}">
            Visions
          </a>
          <a class="navbar-item" href="{% url 'todos:horizon-detail-list' 'PU' %}">
            Purpose
          </a>
        </div>
      </div>

      <a class="navbar-item" href="{% url 'todos:horizon-detail-list' 'AC' %}">
        Actions
      </a>

      <a class="navbar-item" href="{% url 'todos:horizon-detail-list' 'PR' %}">
        Projects
      </a>

      <a class="navbar-item" href="{% url 'todos:horizon-detail-list' 'FO' %}">
        Focus
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button is-primary">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
